springboot/springboot配置文件的两种形式（xml与Annotation）/xml/springBoot-xml/src/main/resources/whsDubbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.springframework.org/schema/context"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://gupaoedu.com/schema/whsDubbo"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:element name="user">
        <xsd:complexType>
            <xsd:attribute name="bean-name" type="xsd:string"/>
            <xsd:attribute name="uid" type="xsd:long"/>
            <xsd:attribute name="uname" type="xsd:string" />
            <xsd:attribute name="upassword" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>